div.quadrado {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightcyan;
    width: 300px;
    height: 300px;
}

body {

    background-image: url(../imagens/wallpaper001.jpg);
}


div#q1 { background-color: skyblue;

}
div#q2 { background-image: linear-gradient(to bottom, rgb(255, 255, 90), rgb(255, 85, 114));

    
}
div#q3 { background-image: url(../imagens/pattern003.png) ;    
}

div#box-father {
    width: 950px;
    margin: auto;
    
}
